<header class="bg-white shadow-md px-6 py-4 flex items-center justify-between">
  <div class="flex items-center space-x-3">
    <img src="FrotaGestor.png" alt="Logo Frota Gestor" class="h-15" />
    <div>
      <h1 class="font-bold text-lg text-blue-700">Gestor de Frota</h1>
      <p class="text-sm text-gray-600">Sistema de Gerenciamento de Frotas</p>
    </div>
  </div>

  <div class="flex items-center space-x-4">
    <span class="text-gray-700 font-medium">Usuário: {{ user }}</span>

    <button
      (click)="navMenu()"
      class="px-3 py-1 text-sm bg-gray-500 text-white rounded hover:bg-gray-600 cursor-pointer"
    >
      Menu
    </button>

    <button (click)="goBackHistory()" class="p-2 hover:bg-gray-200">
      <ng-icon name="heroArrowLeftSolid" class="w-5 h-5"></ng-icon>
    </button>

    <button (click)="goForwardHistory()" class="p-2 hover:bg-gray-200">
      <ng-icon name="heroArrowRightSolid" class="w-5 h-5"></ng-icon>
    </button>

    <button
      (click)="navChangePassword()"
      class="px-3 py-1 text-sm border rounded hover:bg-gray-100 cursor-pointer"
    >
      Alterar Senha
    </button>

    <button
      (click)="logout()"
      class="px-3 py-1 text-sm bg-red-500 text-white rounded hover:bg-red-600 cursor-pointer"
    >
      Sair
    </button>
  </div>
</header>
