@import "tailwindcss";
@import "maplibre-gl/dist/maplibre-gl.css";

.input {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

button {
  @apply cursor-pointer
}

.custom-shadow-img {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

.custom-shadow-map {
  transition: all 0.4s ease;
  border-radius: 1rem;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.35),
    0 25px 55px rgba(0, 0, 0, 0.45);
  transform: translateY(0);
}

.custom-marker {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s ease;
}

.custom-marker:hover {
  transform: scale(1.2);
}

.maplibregl-popup-close-button {
  font-size: 1.25rem;        /* aumenta o tamanho do X */
  width: 2rem;                /* largura maior do botão */
  height: 2rem;               /* altura maior do botão */
  line-height: 2rem;          /* centraliza o X verticalmente */
  top: 0.5rem;                /* distância do topo */
  right: 0.5rem;              /* distância da direita */
  background-color: rgba(0,0,0,0.05); /* leve fundo para destacar */
  color: #111827;             /* cor escura para contraste */
  border-radius: 0.5rem;      /* cantos arredondados */
  transition: background-color 0.2s ease;
}

.maplibregl-popup-close-button:hover {
  background-color: rgba(59,130,246,0.2);
}

/* Marcador do usuário */
.user-marker {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.user-marker:hover {
  transform: scale(1.2);
}